body {

    background-image: url(../img/img.jpg);

    background-repeat: no-repeat;

    background-size: cover;

    background-attachment: fixed;

    font-family: sans-serif;

    height: 100vh;

}